footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    @include flexbox(space-between);
    text-align: center;
    background-color: $primaryColor;

    @media screen and (max-width: $small - 100) {
        @include flexbox(center, column);
        padding: 10px 0;
    }

    a {
        padding: 20px;
        font-size: 1.4rem;
        font-weight: 350;
        color: $accentColor;
        text-decoration: none;

        @media screen and (max-width: $small - 100) {
            padding: 5px;
        }

        &:hover {
            animation: wiggle 150ms cubic-bezier(.4, .1, .6, .9) 10;
        }
    }
}