.restaurant-name {
    margin: 70px 0 50px 0;
    font-size: 2.4rem;
    text-align: center;
}

.menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 100px 200px 100px;
    box-shadow: 0px 0px 20px 0px #7a7a7a47;

    &__heading {
        margin: 70px 0;
        text-align: center;
        font-size: 2rem;
    }

    &__course {
        @include flexbox (space-between);
        margin: 30px 0;
        text-align: center;
        font-size: 0.8rem;
    }

    &__divider {
        width: 30%;
        height: auto;
    }

    &__dish {
        @include flexbox (space-between);
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0;
    }
}