.restaurant-name {
    margin: 50px 0;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 5vw 15vw 5vw;
    box-shadow: 0px 0px 20px 0px #7a7a7a47;
    text-align: center;

    // Boucle pour l'affichage de dishanme et courses
    @each $restaurant,
    $style in $menu-font {
        &--#{$restaurant} {
            color: map-get($style, color);
            font-family: map-get($style, font);
            font-weight: map-get($style, weight);
        }
    }

    // Boucle pour les background-color
    @include backgroudColor($backgroudColor);

    @media screen and (min-width: $x-large) {
        width: 70%;
        padding: 30px 10vw 15vw 10vw;
    }

    @media screen and (max-width: 500px) {
        width: 90%;
    }

    // ------------------- Colored title inside menu card
    &__icon {
        margin-top: 50px;
        @include gradientText($noteIconGradient);
        font-size: 100px;

        @media screen and (max-width: 600px) {
            margin-top: 20px;
            font-size: 75px;
        }

        &--end {
            margin: 0 7px 0 0;
            font-size: 70px;

            @media screen and (max-width: 600px) {
                font-size: 45px;
            }
        }
    }

    &__heading {
        margin: 20px 0 30px 0;
        text-align: center;
        font-size: 3vw;

        // Boucle pour l'affichage des noms de restaurants
        @include restaurant-title-display($restaurant-title-display);

        &--chic {
            @include gradientText($chicGradient);
        }

        &--delice {
            @include gradientText($deliceGradient);
        }

        &--palette {
            @include gradientText($paletteGradient);
        }


        @media screen and (max-width: $large) {
            font-size: 35px;
        }

        &--end {
            margin: 0 0 0 7px;
            font-family: $devonshire;
        }
    }

    // ------------------- Course type
    &__course {
        @include flexbox (space-between);
        margin: 60px 0 50px 0;
        text-align: center;


        @media screen and (max-width: 270px) {
            margin-bottom: 30px;
        }
    }

    &__divider {
        width: 35%;
        max-width: 400px;
        height: auto;

        // ------- Divider Chic à la française
        &--chic-first {
            fill: $chicOrange;
        }

        &--chic-second {
            fill: $chicViolet;
        }

        &--chic-third {
            fill: $chicBleu;
        }

        // ------- Divider Delice des papilles
        &--delice-first {
            fill: $deliceDarkBlue;
        }

        &--delice-second {
            fill: $deliceBlue;
        }

        &--delice-third {
            fill: $deliceLigthBlue;
        }

        // ------- Divider Palette du goût
        &--palette-left {
            fill: url(#palette-gradient);
        }

        &--palette-rigth {
            fill: url(#palette-gradient-reverse);
        }
    }

    &__title {
        margin: 0;
        padding: 0 15px;
        font-size: 1.2vw;

        &:after {
            content: "";
            width: 0%;
            height: 2px;
            display: block;
            background-color: $textColor;
            transition: width 0.4s ease;
            transform-origin: left;
        }

        &:hover::after {
            width: 100%;
        }

        @media screen and (max-width: $x-large) {
            font-size: 22px;
        }

        @media screen and (max-width: $small) {
            line-height: 22px;
        }

        &--note {
            font-weight: 400;
        }

        &--chic-first {
            color: $chicOrange;

            &::after {
                background-color: $chicOrange;
            }

            &:hover::after {
                background-color: $chicOrange;
            }
        }

        &--chic-second {
            color: $chicViolet;

            &::after {
                background-color: $chicViolet;
            }

            &:hover::after {
                background-color: $chicViolet;
            }
        }

        &--chic-third {
            color: $chicBleu;

            &::after {
                background-color: $chicBleu;
            }

            &:hover::after {
                background-color: $chicBleu;
            }
        }

        &--delice {
            font-weight: 300;
        }
    }

    // ------------------- Lines for each dish
    &__dish {
        @include flexbox (space-between, row, flex-start);
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0;

        @media screen and (min-width: $x-large) {
            font-size: 18px;
        }

        @media screen and (max-width: 570px) {
            @include flexbox (center, column, center);
            margin-bottom: 10px;
            text-align: center;
        }

        &--note {
            width: 100%;
        }

        &--chic-first {
            color: $chicOrange;
        }

        &--chic-second {
            color: $chicViolet;
        }

        &--chic-third {
            color: $chicBleu;
        }
    }

    &__dishname {
        margin-right: 10px;
    }

    &__bottom {
        margin-top: 80px;
        @include flexbox(center, row, center);

        @media screen and (max-width : 500px) {
            @include flexbox(center, column, center);
        }
    }
}