@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Devonshire&family=Handlee&family=Kalam:wght@300;400;700&family=Kaushan+Script&family=Roboto:wght@300;400;500;700;900&family=Tillana:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@keyframes wiggle {
  25% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(-2%);
  }
}
@keyframes firstPointBlinking {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes secondPointBlinking {
  0% {
    opacity: 0;
  }
  21% {
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes thirdPointBlinking {
  0% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  44% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body {
  margin: 0;
  padding: 0 0 100px 0;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 550px) {
  body {
    padding-bottom: 120px;
  }
}

* {
  box-sizing: border-box;
}

header {
  background-color: #488c74;
  text-align: center;
  padding: 30px 0;
}
header img {
  width: 50%;
  max-width: 300px;
  height: auto;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: #488c74;
}
@media screen and (max-width: 550px) {
  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
}
footer a {
  padding: 20px;
  font-size: 1.4rem;
  font-weight: 350;
  color: #fac038;
  text-decoration: none;
}
@media screen and (max-width: 550px) {
  footer a {
    padding: 5px;
  }
}
footer a:hover {
  animation: wiggle 150ms cubic-bezier(0.4, 0.1, 0.6, 0.9) infinite;
}

.restaurant-name {
  margin: 50px 0;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.menu {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 5vw 15vw 5vw;
  box-shadow: 0px 0px 20px 0px #7a7a7a47;
  text-align: center;
}
@media screen and (min-width: 1300px) {
  .menu {
    width: 70%;
    padding: 30px 10vw 15vw 10vw;
  }
}
@media screen and (max-width: 500px) {
  .menu {
    width: 90%;
  }
}
.menu--note {
  padding-bottom: 5vw;
  font-family: "Kalam", cursive;
  font-weight: 300;
  background: #fbd7d3;
  color: #2d0e13;
}
.menu--chic {
  font-family: serif;
  background: #fff1fe;
}
.menu--delice {
  font-family: "Kalam", cursive;
  background: #e9ebeb;
  font-weight: 300;
  color: #0f0f0f;
}
.menu--palette {
  font-family: "Handlee", cursive;
  background: #fdfffd;
  color: #1f201f;
}
.menu__icon {
  margin-top: 50px;
  background: -webkit-linear-gradient(360deg, #eb434e 20%, #f27d57 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
}
@media screen and (max-width: 600px) {
  .menu__icon {
    margin-top: 20px;
    font-size: 75px;
  }
}
.menu__icon--end {
  margin: 0 7px 0 0;
  font-size: 70px;
}
@media screen and (max-width: 600px) {
  .menu__icon--end {
    font-size: 45px;
  }
}
.menu__heading {
  margin-bottom: 30px;
  text-align: center;
  font-size: 3vw;
}
@media screen and (max-width: 1170px) {
  .menu__heading {
    font-size: 35px;
  }
}
.menu__heading--note {
  font-family: "Devonshire", cursive;
}
.menu__heading--chic {
  background: -webkit-linear-gradient(360deg, #b86010 43%, #935087 67%, #5a31c0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Croissant One", cursive;
}
.menu__heading--delice {
  background: -webkit-linear-gradient(360deg, #0100d4 12%, #0c55ef 39%, #1f88f7 81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Parisienne", cursive;
}
.menu__heading--palette {
  background: -webkit-linear-gradient(360deg, #32832c 30%, #b3ff6c 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script", cursive;
}
.menu__heading--end {
  margin: 0 0 0 7px;
  font-family: "Devonshire", cursive;
}
.menu__course {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 60px 0 20px 0;
  text-align: center;
}
@media screen and (max-width: 270px) {
  .menu__course {
    margin-bottom: 30px;
  }
}
.menu__divider {
  width: 35%;
  max-width: 400px;
  height: auto;
}
.menu__divider--chic-first {
  fill: #b86010;
}
.menu__divider--chic-second {
  fill: #935087;
}
.menu__divider--chic-third {
  fill: #5a31c0;
}
.menu__divider--delice-first {
  fill: #0100d4;
}
.menu__divider--delice-second {
  fill: #0c55ef;
}
.menu__divider--delice-third {
  fill: #1f88f7;
}
.menu__divider--palette-left {
  fill: url(#palette-gradient);
}
.menu__divider--palette-rigth {
  fill: url(#palette-gradient-reverse);
}
.menu__title {
  margin: 0;
  padding: 0 15px;
  font-size: 1.2vw;
}
.menu__title:after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  background-color: #282728;
  transition: width 0.4s ease;
  transform-origin: left;
}
.menu__title:hover::after {
  width: 100%;
}
@media screen and (max-width: 1300px) {
  .menu__title {
    font-size: 22px;
  }
}
@media screen and (max-width: 650px) {
  .menu__title {
    line-height: 22px;
  }
}
.menu__title--note {
  font-weight: 400;
}
.menu__title--chic-first {
  color: #b86010;
}
.menu__title--chic-first::after {
  background-color: #b86010;
}
.menu__title--chic-first:hover::after {
  background-color: #b86010;
}
.menu__title--chic-second {
  color: #935087;
}
.menu__title--chic-second::after {
  background-color: #935087;
}
.menu__title--chic-second:hover::after {
  background-color: #935087;
}
.menu__title--chic-third {
  color: #5a31c0;
}
.menu__title--chic-third::after {
  background-color: #5a31c0;
}
.menu__title--chic-third:hover::after {
  background-color: #5a31c0;
}
.menu__title--delice {
  font-weight: 300;
}
.menu__dish {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
}
@media screen and (min-width: 1300px) {
  .menu__dish {
    font-size: 18px;
  }
}
@media screen and (max-width: 570px) {
  .menu__dish {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
  }
}
.menu__dish--note {
  width: 100%;
}
.menu__dish--chic-first {
  color: #b86010;
}
.menu__dish--chic-second {
  color: #935087;
}
.menu__dish--chic-third {
  color: #5a31c0;
}
.menu__dishname {
  margin-right: 10px;
}
.menu__bottom {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .menu__bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.card {
  width: 40vw;
  max-width: 550px;
  height: 45vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  box-shadow: 0px 0px 20px 0px #7a7a7a47;
  opacity: 1;
  transition: all 0.4s ease;
}
.card:hover {
  opacity: 0.7;
}
.card:hover div,
.card:hover i {
  transform: scale(1.1);
}
.card--note {
  background-color: #fbd7d3;
}
.card--chic {
  background-color: #fff1fe;
}
.card--delice {
  background-color: #e9ebeb;
}
.card--palette {
  background-color: #fdfffd;
}
.card--left {
  justify-self: end;
}
@media screen and (max-width: 550px) {
  .card--left {
    justify-self: stretch;
  }
}
.card--rigth {
  justify-self: start;
}
@media screen and (max-width: 550px) {
  .card--rigth {
    justify-self: stretch;
  }
}
@media screen and (max-width: 550px) {
  .card {
    width: 100%;
  }
}
.card__container {
  width: 85%;
  margin: 40px auto 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 40px;
  text-align: center;
}
@media screen and (max-width: 550px) {
  .card__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr/4);
  }
}
.card__name {
  margin-bottom: 8px;
  font-size: 25px;
  transition: transform ease 0.6s;
}
.card__name--note {
  color: #2d0e13;
  font-family: "Devonshire", cursive;
}
.card__name--chic {
  background: -webkit-linear-gradient(360deg, #b86010 43%, #935087 67%, #5a31c0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Croissant One", cursive;
  font-size: 20px;
}
.card__name--delice {
  background: -webkit-linear-gradient(360deg, #0100d4 12%, #0c55ef 39%, #1f88f7 81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Parisienne", cursive;
}
.card__name--palette {
  background: -webkit-linear-gradient(360deg, #32832c 30%, #b3ff6c 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script", cursive;
}
.card__menu {
  margin-top: 8px;
  font-size: 30px;
  transition: transform ease 0.6s;
}
.card__menu--note {
  color: #2d0e13;
  font-family: "Kalam", cursive;
  text-transform: uppercase;
}
.card__menu--chic {
  color: #b86010;
  font-family: "Croissant One", cursive;
}
.card__menu--delice {
  color: #1f88f7;
  font-family: "Handlee", cursive;
}
.card__menu--palette {
  color: #32832c;
  font-family: "Handlee", cursive;
}
.card__icon {
  margin-bottom: 10px;
  font-size: 30px;
  background: -webkit-linear-gradient(360deg, #eb434e 20%, #f27d57 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform ease 0.6s;
}

.upcoming {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  padding: 10px 35px;
  margin: 0px auto;
  font-size: 1.6rem;
  color: #fac038;
  background-color: #488c74;
  border: none;
  border-radius: 10px;
}
.upcoming__text {
  font-family: "Roboto", sans-serif;
  font-weight: 350;
}
.upcoming__point {
  font-family: "Roboto", sans-serif;
  font-weight: 350;
}
.upcoming__point--first {
  animation: firstPointBlinking 2.5s infinite;
}
.upcoming__point--second {
  animation: secondPointBlinking 2.5s infinite;
}
.upcoming__point--third {
  animation: thirdPointBlinking 2.5s infinite;
}

.mentions {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.mentions__title {
  margin: 40px 0 20px 0;
  text-transform: uppercase;
}
.mentions__title--main {
  text-align: center;
}
.mentions__adress p {
  margin: 5px 0;
}

/*# sourceMappingURL=style.css.map */
