.croissant {
    font-family: $croissantOne;
}

.devon {
    font-family: $devonshire;
}

.handlee {
    font-family: $handlee;
}

.kalam {
    font-family: $kalam;
}

.kaushan {
    font-family: $kaushanScript;
}

.roboto {
    font-family: $roboto;
}

.tillana {
    font-family: $tillana;
}