// .croissant {
//     font-family: $croissantOne;
// }

// .devon {
//     font-family: $devonshire;
// }

// .handlee {
//     font-family: $handlee;
// }

// .kalam {
//     font-family: $kalam;
// }

// .kaushan {
//     font-family: $kaushanScript;
// }

// .roboto {
//     font-family: $roboto;
// }

// .tillana {
//     font-family: $tillana;
// }

.card {
    background-color: lightpink;
    border: 1px solid rgb(255, 47, 82);

    &__container {
        width: 80%;
        background-color: lightcyan;
    }
}