.mentions {
    width: 80%;
    margin-right: auto;
    margin-left: auto;

    &__title {
        margin: 40px 0 20px 0;
        text-transform: uppercase;

        &--main {
            text-align: center;
        }
    }

    &__adress p {
        margin: 5px 0;
    }
}