@mixin flexbox ($justify: center, $direction: row, $align: center) {
    display: flex;
    justify-content: $justify;
    flex-direction: $direction;
    align-items: $align;
}

@mixin gradientText($gradient) {
    background: -webkit-linear-gradient($gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}