// Here are set all the variables regarding color, fonts, size...
// -------------- Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Devonshire&family=Handlee&family=Kalam:wght@300;400;700&family=Kaushan+Script&family=Roboto:wght@300;400;500;700;900&family=Tillana:wght@400;500;600;700&display=swap');

// -------------- Animations
$shake-intensity: 2%;

// -------------- Breaking Points
$x-small: 320px;
$small: 650px;
$medium: 1024px;
$large: 1170px;
$x-large: 1300px;


// -------------- Fonts
$kalam: 'Kalam',
cursive;
$roboto: 'Roboto',
sans-serif;
$handlee: 'Handlee',
cursive;
$parisienne: 'Parisienne',
cursive;
$devonshire: 'Devonshire',
cursive;
$croissantOne: 'Croissant One',
cursive;
$kaushanScript: 'Kaushan Script',
cursive;


// ------------ Colors
// Primary colors
$primaryColor: rgb(72, 140, 116);
$accentColor: rgb(250, 192, 56);
$textColor: rgb(40, 39, 40);
// La Note enchantée
$noteText: rgb(45, 14, 19);
$noteIconGradient: 360deg,
rgb(235, 67, 78) 20%,
rgb(242, 125, 87) 84%;
// Le Chic à la française
$chicOrange: rgb(184, 96, 16);
$chicViolet: rgb(147, 80, 135);
$chicBleu: rgb(90, 49, 192);
$chicGradient: 360deg,
$chicOrange 43%,
$chicViolet 67%,
$chicBleu 100%;
// Le Délice des papilles
$deliceText: rgb(15, 15, 15);
$deliceDarkBlue: rgb(1, 0, 212);
$deliceBlue: rgb(12, 85, 239);
$deliceLigthBlue: rgb(31, 136, 247);
$deliceGradient: 360deg,
$deliceDarkBlue 12%,
$deliceBlue 39%,
$deliceLigthBlue 81%;
// La Palette du goût
$paletteText: rgb(31, 32, 31);
$paletteDarkGreen: rgb(50, 131, 44);
$paletteLightGreen: rgb(179, 255, 108);
$paletteGradient: 360deg,
$paletteDarkGreen 30%,
$paletteLightGreen 70%;


// -------------- Maps
// Background-color des restaurants
$backgroudColor: (note: rgb(251, 215, 211),
    chic: rgb(255, 241, 254),
    delice: rgb(233, 235, 235),
    palette: rgb(253, 255, 253),
);

// Affichage des titres de restaurants
$restaurant-title-display : (note: (font: $devonshire,
        color: $noteText,
    ),
    chic: (font: $croissantOne,
        color: transparent,
    ),
    delice: (font: $parisienne,
        color: transparent,
    ),
    palette: (font: $kaushanScript,
        color: transparent,
    ),
);

// Afficha de "menu" de la page d'accueil
$menu-title-display : (note: (color: $noteText,
        font: $kalam,
        transform: uppercase,
    ),
    chic: (color: $chicOrange,
        font: $croissantOne,
    ),
    delice: (color: $deliceLigthBlue,
        font: $handlee,
    ),
    palette: (color: $paletteDarkGreen,
        font: $handlee,
    ),
);

// Afficha de "menu" de la page d'accueil
$menu-font : (note: (font: $kalam,
        color: $noteText,
        weight: 300,
    ),
    chic: (font: serif,
    ),
    delice: (font: $kalam,
        color: $deliceText,
        weight: 300,
    ),
    palette: (font: $handlee,
        color: $paletteText,
    ),
);